@charset "utf-8";
/* CSS Document */


/*
Theme Name: Startup Responsive Landing page Template
Version: 1.0
Author: Surjith SM
Author URI: http://themeforest.net/user/surjithctly
*/


/******************  Table of Contents  *****************************/

/*

0. FONTS
1. GLOBAL STYLES
2. HEADER
3. HERO IMAGE
4. FEATURES
5. TESTIMONIALS
6. PLANS AND PRICING
7. FAQ
8. FOOTER
9. CUSTOM MEDIA QUERIES
10. BLOG

If you having trouble in editing css. please send a mail to support@surjithctly.in - 
I will really help you

*/

/*========== 0. FONTS ==============*/


@font-face {
  font-family: 'Open Sans';
  font-style: normal;
  font-weight: 400;
  src: local('Open Sans'), local('OpenSans'), url(http://fonts.gstatic.com/s/opensans/v10/cJZKeOuBrn4kERxqtaUH3T8E0i7KZn-EPnyo3HZu7kw.woff) format('woff');
}
@font-face {
  font-family: 'Open Sans';
  font-style: normal;
  font-weight: 600;
  src: local('Open Sans Semibold'), local('OpenSans-Semibold'), url(http://fonts.gstatic.com/s/opensans/v10/MTP_ySUJH_bn48VBG8sNSnhCUOGz7vYGh680lGh-uXM.woff) format('woff');
}
@font-face {
  font-family: 'Open Sans';
  font-style: normal;
  font-weight: 700;
  src: local('Open Sans Bold'), local('OpenSans-Bold'), url(http://fonts.gstatic.com/s/opensans/v10/k3k702ZOKiLJc3WVjuplzHhCUOGz7vYGh680lGh-uXM.woff) format('woff');
}

/*========== 1. GLOBAL STYLES ==============*/


body {
	font-family: 'Open Sans', Arial, sans-serif;
	background:#ffffff;
	font-weight:300;
	height: 100%;
	margin: 0;
	padding: 0;
	color:#000000;
}
strong, b {
	font-weight:600;
}
h1 {
	font-size:40px;
	line-height:55px;
	margin:0;
}
h2 {
	font-size:40px;
	font-weight:600;
	margin:15px 0;
}
h3 {
	font-size:20px;
	margin:10px 0;
	font-weight:600;
}
h4 {
	font-size:20px;
	margin:10px 0;
}
h5 {
	font-size:24px;
	font-weight:600;
	margin:15px 0;
	color: #384047;
}
h6 {
	font-size:16px;
	font-weight:600;
	margin:10px 0;
	color: #384047;
}
a {
	color:#5173bd;
}
a:hover, a:focus {
	color:#5173bd;
}
.preloader {
	background-color:#FFFFFF;
	position:fixed;
	width:100%;
	height:100%;
	z-index:9999999;
}
.pace {
	-webkit-pointer-events: none;
	pointer-events: none;
	-webkit-user-select: none;
	-moz-user-select: none;
	user-select: none;
	z-index: 9999999;
	position: relative;
	margin: auto;
	top: 0;
	left: 0;
	right: 0;
	bottom: 0;
	height: 2px;
	width: 100%;
	background: #fff;/*border: 1px solid #e34e47;*/
}
.pace .pace-progress {
	-webkit-box-sizing: border-box;
	-moz-box-sizing: border-box;
	-ms-box-sizing: border-box;
	-o-box-sizing: border-box;
	box-sizing: border-box;
	-webkit-transition: width 1s ease-in-out 1s linear;
	-moz-transition: width 1s ease-in-out 1s linear;
	-ms-transition: width 1s ease-in-out 1s linear;
	-o-transition: width 1s ease-in-out 1s linear;
	transition: width 1s ease-in-out 1s linear;
	-webkit-transform: translate3d(0, 0, 0);
	-moz-transform: translate3d(0, 0, 0);
	-ms-transform: translate3d(0, 0, 0);
	-o-transform: translate3d(0, 0, 0);
	transform: translate3d(0, 0, 0);
	max-width: 100%;
	position: fixed;
	z-index: 9999999;
	display: block;
	position: absolute;
	left: 0px;
	top: 0px;
	height: 100%;
	background: #61b5f0;
}
.pace.pace-inactive {
	display: none;
}
.btn, .btn-lg, .input-lg {
	border-radius:3px;
}
.form-control {
	border-radius: 3px;
	-webkit-box-shadow:none;
	box-shadow:none;
}
.input-lg {
	height: 55px;
}
.btn-lg, .btn-group-lg > .btn {
	padding: 10px 28px;
	height: 52px;
}
.breath {
	/*margin:50px auto;*/
}
.highlight {
	background:#f4f4f4;
	margin-top:40px;
}

.has-margin-vertical {
	margin:20px 0 30px;	
}

.has-margin-bottom {
 	margin-bottom:40px;
}
 
/*========== 1 a. SUB PAGES ==============*/


.subpage-head {
	background-color: #2494ac;
	padding-top: 20px;
	padding-bottom: 15px;
	margin-bottom:40px;
}

/*========== 2. HEADER ==============*/

.masthead {
	position: relative !important;
	padding: 0 15px;
	color: #FFF;
	text-align: center;
	text-shadow: 0 1px 0 rgba(0, 0, 0, .1);
	background-color: #cccccc;
	background-image:url(../images/greybg.png);
	/*background-image:url(../images/big-banner.jpg);*/
	background-repeat: no-repeat;
	background-position: center center;
	background-attachment: fixed;
	-webkit-background-size: cover;
	-moz-background-size: cover;
	-o-background-size: cover;
	background-size: cover;
	-ms-transform: translateZ(o);
}
/* Initial Subtle Animation*/

.masthead .container {
	animation: fadein 2s;
	-moz-animation: fadein 2s; /* Firefox */
	-webkit-animation: fadein 2s; /* Safari and Chrome */
	-o-animation: fadein 2s; /* Opera */
}
.loading * {
	-webkit-animation: none !important;
	-moz-animation: none !important;
	-ms-animation: none !important;
	-o-animation: none !important;
}
 @keyframes fadein {
 from {
 opacity:0;
 -webkit-transform: translateY(-30px);
-moz-transform: translateY(-30px);
transform: translateY(-30px);
}
to {
	opacity:1;
	-webkit-transform: translateY(0);
	-moz-transform: translateY(0);
	transform: translateY(0);
}
}
@-moz-keyframes fadein { /* Firefox */
 from {
 opacity:0;
 -webkit-transform: translateY(-30px);
-moz-transform: translateY(-30px);
transform: translateY(-30px);
}
to {
	opacity:1;
	-webkit-transform: translateY(0);
	-moz-transform: translateY(0);
	transform: translateY(0);
}
}
@-webkit-keyframes fadein { /* Safari and Chrome */
 from {
 opacity:0;
 -webkit-transform: translateY(-30px);
-moz-transform: translateY(-30px);
transform: translateY(-30px);
}
to {
	opacity:1;
	-webkit-transform: translateY(0);
	-moz-transform: translateY(0);
	transform: translateY(0);
}
}
@-o-keyframes fadein { /* Opera */
 from {
 opacity:0;
 -webkit-transform: translateY(-30px);
-moz-transform: translateY(-30px);
transform: translateY(-30px);
}
to {
	opacity:1;
	-webkit-transform: translateY(0);
	-moz-transform: translateY(0);
	transform: translateY(0);
}
}
/*animation ends*/

.logo {
	padding: 0;
	text-align:center;
	margin-top: -40px;
}
.btn-large {
	font-size:18px;
	padding:20px 50px;
	margin:5px 10px;
}
.btn-success {
	background-color: #2ecc71;
	background-image:none;
	border: 0;
	-webkit-box-shadow: 0 3px 0 rgba(2, 154, 67, 1);
	box-shadow: 0 3px 0 rgba(2, 154, 67, 1);
	line-height: 1.8;
}
.btn-success:hover, .btn-success:focus, .btn-success:active {
	background-color: #29c36a;
	color:#FFF;
	border: 0;
	-webkit-box-shadow: 0 3px 0 rgba(2, 139, 61, 1);
	box-shadow: 0 3px 0 rgba(2, 139, 61, 1);
}
.btn-primary {
	background-color: #2494ac;
	background-image:none;
	border-color: rgba(0, 0, 0, 0.1) rgba(0, 0, 0, 0.1) rgba(0, 0, 0, 0.25);
}
.btn-primary:hover, .btn-primary:focus, .btn-primary:active {
	background-color: #209ab8!important;
	color:#FFF!important;
}
.btn-warning {
	line-height: 1.8;
	-webkit-box-shadow: 0 3px 0 rgb(177, 116, 29);
	box-shadow: 0 3px 0 rgb(177, 116, 29);	
}

.btn-warning:hover, .btn-warning:focus, .btn-warning:active {
	-webkit-box-shadow: 0 3px 0 rgb(177, 116, 29);
	box-shadow: 0 3px 0 rgb(177, 116, 29);
}

.subscribe {
	padding: 45px 0;
}
.alertMsg {
	font-size: 14px;
	display: block;
	padding: 5px 17px;
	text-align:center;
}
.masthead .form-control {
		border: 0;
}

/* Boucing Arrow Animation */

@keyframes arrowbounce {
from {
-webkit-transform: translateY(0);
-moz-transform: translateY(0);
transform: translateY(0);
}
to {
	-webkit-transform: translateY(-20px);
	-moz-transform: translateY(-20px);
	transform: translateY(-20px);
}
}
@-moz-keyframes arrowbounce { /* Firefox */
from {
-webkit-transform: translateY(0);
-moz-transform: translateY(0);
transform: translateY(0);
}
to {
	-webkit-transform: translateY(-20px);
	-moz-transform: translateY(-20px);
	transform: translateY(-20px);
}
}
@-webkit-keyframes arrowbounce { /* Safari and Chrome */
from {
-webkit-transform: translateY(0);
-moz-transform: translateY(0);
transform: translateY(0);
}
to {
	-webkit-transform: translateY(-20px);
	-moz-transform: translateY(-20px);
	transform: translateY(-20px);
}
}
@-o-keyframes arrowbounce { /* Opera */
from {
-webkit-transform: translateY(0);
-moz-transform: translateY(0);
transform: translateY(0);
}
to {
	-webkit-transform: translateY(-20px);
	-moz-transform: translateY(-20px);
	transform: translateY(-20px);
}
}
.scrollto, .scrollto:hover {
	margin:30px;
	display:block;
	color:#FFF;
	text-decoration:none;
	width:200px;
	margin:0 auto;
}
.scrollto--arrow {
	padding:10px;
}
.scrollto--arrow img {
	animation: arrowbounce 1s alternate infinite;
	-moz-animation: arrowbounce 1s alternate infinite; /* Firefox */
	-webkit-animation: arrowbounce 1s alternate infinite; /* Safari and Chrome */
	-o-animation: arrowbounce 1s alternate infinite; /* Opera */
}
/*========== 3. HERO IMAGE ==============*/

.section-title {
	text-align:left;
	margin-top:60px;
	margin-bottom:30px;
}
.section-title h2 {
	color:#ffffff;
}
.section-title h4 {
	color:#ffffff;
}
.home-title{
	text-align:center;
	margin-bottom:20px;
}
.home-title h2 {
	color:#000000;
}
.home-title h4 {
	color:#94a3a8;
}
.heroimg img, .clientlogo img {
	max-width:100%;
}
/*========== 4. FEATURES ==============*/

.features {
	/*margin:25px 0;*/
}
.thumbnail {
	border:0;
	text-align:center;
}
.thumbnail .caption p {
	color: #94a3a8;
}
/*Hover Animation*/

.thumbnail img {
	-moz-transition:all 0.6s ease;
	-webkit-transition:all 0.6s ease;
	-ms-transition:all 0.6s ease;
	-o-transition:all 0.6s ease;
	transition:all 0.6s ease;
	height: 113px;
}
.thumbnail:hover img {
	-moz-transform:scale(1.05);
	-webkit-transform:scale(1.05);
	-o-transform:scale(1.05);
	-ms-transform:scale(1.05);
	transform:scale(1.05);
	z-index:2;
}
/*========== 5. TESTIMONIALS ==============*/

.testblock {
	width:100%;
	height:auto;
	padding:20px;
	background:#FFF;
	-webkit-border-radius:5px;
	-moz-border-radius:5px;
	border-radius:5px;
	font-family:Georgia, "Times New Roman", Times, serif;
	font-style:italic;
	position:relative;
	line-height:28px;
	font-size:16px;
}
.testblock:after {
	top: 100%;
	left: 20%;
	border: solid transparent;
	content: " ";
	height: 0;
	width: 0;
	position: absolute;
	pointer-events: none;
	border-color: rgba(255, 255, 255, 0);
	border-top-color: #ffffff;
	border-width: 15px;
	margin-left: -15px;
}
.clientblock {
	margin-top:40px;
	margin-left:10px;
}
.clientblock img {
	float:left;
	-webkit-border-radius:100%;
	-moz-border-radius:100%;
	border-radius:100%;
}
.clientblock p {
	padding-left:80px;
	padding-top:13px;
}
.clientblock p strong {
	color:#384047;
	font-size:16px;
}
/* Animation */

.testblock {
	-moz-transition:all 0.6s ease;
	-webkit-transition:all 0.6s ease;
	-ms-transition:all 0.6s ease;
	-o-transition:all 0.6s ease;
	transition:all 0.6s ease;
}
.testblock:hover {
	-moz-transform:scale(1.05);
	-webkit-transform:scale(1.05);
	-o-transform:scale(1.05);
	-ms-transform:scale(1.05);
	transform:scale(1.05);
	z-index:2;
}
/*========== 6. PLANS AND PRICING ==============*/

.pricing {
	padding:25px;
	color:#FFF;
	text-align:center;
	-webkit-border-radius:5px;
	-moz-border-radius:5px;
	border-radius:5px;
}
.pricing .planname {
	text-transform:uppercase;
	font-weight:600;
	font-size:22px;
}
.pricing .price {
	font-size:52px;
	font-weight:300;
	margin:10px 0;
}
.billing {
	/*text-transform:uppercase;
	opacity:0.7;*/
	text-align:center;
	margin-top:10px;
	color:#94a3a8;
}
.pricing .price .curr {
	display:inline-block;
	font-size:20px;
	vertical-align:super;
}
.pricing .price .per {
	display:inline-block;
	font-size:20px;
	vertical-align: baseline;
}
.color1 {
	background-color:#2494ac;
}
.color2 {
	background-color: #56bed4;
}
.color3 {
	background-color: #56bed4;
}
/* Animation */

.pricing {
	-moz-transition:all 0.6s ease;
	-webkit-transition:all 0.6s ease;
	-ms-transition:all 0.6s ease;
	-o-transition:all 0.6s ease;
	transition:all 0.6s ease;
	height: 198px;
}
.pricing:hover {
	-moz-transform:scale(1.05);
	-webkit-transform:scale(1.05);
	-o-transform:scale(1.05);
	-ms-transform:scale(1.05);
	transform:scale(1.05);
	z-index:2;
}

/*========== 7. FAQ ==============*/

.faq p {
	margin-bottom:25px;
	color:#000000;
}

/*==========8. FOOTER ==============*/


.footercta {
	padding: 60px 15px;
	color: #FFF;
	text-align: center;
	text-shadow: 0 1px 0 rgba(0, 0, 0, .1);
	background-color: #6883cc;
	background-image:url(../images/greybg.png);
	background-repeat: no-repeat;
	background-position: center center;
	background-attachment: fixed;
	-webkit-background-size: cover;
	-moz-background-size: cover;
	-o-background-size: cover;
	background-size: cover;
}
.footerlinks {
	text-align:center;
	margin-top: 20px;
}
.footerlinks ul li{
	list-style-type:none;
	display:inline;
}
.footerlinks a {
	text-align:center;
	padding:0 13px;
	display:inline-block;
	padding-bottom: 15px;
	color: #000;
	font-size: 16px;
	font-weight: bold;
}



/*==========9. CUSTOM MEDIA QUERIES==============*/


/*MEDIA QUERIES*/

@media (max-width: 991px) {
 h1 {
font-size: 35px;
line-height: 50px;
margin: -15px 0;
}
 h2 {
font-size: 35px;
}
 .testimonials [class*="col-"]:not(:first-child) {
 margin-top: 40px;
}
 .planpricing [class*="col-"]:not(:first-child) {
 margin-top: 30px;
}
 .breath {
margin: 30px auto;
}
}
 @media (max-width: 767px) {
	h1 {
		font-size: 30px;
		line-height: 40px;
	}
	h2 {
		font-size: 30px;
		line-height: 40px;
	}
	.subscribe [class*="col-"]:not(:first-child) {
		margin-top: 30px;
	}
	.masthead {
		padding: 0 15px;
	}
	.movingtext span{
		font-size:20px;
	}
}
 @media (max-width: 480px) {
	 /*Media Queries for smaller devices*/
	 .masthead {
	background-attachment: scroll;
}

}



/*=== v1.1 ===*/

 @media (max-device-width: 992px) {
	 
.masthead {
background-size: cover;
background-attachment: scroll;
}
	 
 }
 
 
/*=== v 2.0 ===*/


.signup-block {
	padding:20px;	
	background:rgba(255,255,255,0.25);
	border-radius:7px;
	margin-bottom:25px;
}

.form-group.last {
	margin-bottom:0;	
}

.multiple-btns .btn + .btn {
	margin:10px;	
}


/*=== Vertical Signup ===*/

.signup-v-layout .masthead {
padding: 15px;
}
 
.signup-v-layout .logo {
padding: 10px 0;
}

/*=== Signup video ===*/

.signup-video .masthead {
padding: 15px;
}
 
.signup-video .logo {
padding: 10px 0;
}


/*=== Web App page ===*/

.web-app .masthead {
padding: 15px;
}
 
.web-app .logo {
padding: 15px 0;
}


.web-app .masthead {
	background-image:url(../images/header_color_2.jpg);
	padding-bottom:0;
}

.web-app .footercta {
	background-image:url(../images/footer_color_2.jpg);
}



/*=== Mob App page ===*/

.mob-app .masthead {
padding: 15px;
}
 
.mob-app .logo {
padding: 15px 0;
}


.mob-app .masthead {
	background-image:url(../images/greybg.png);
}

.multiple-links a img {
	margin:5px;	
}

.mob-app .footercta {
	background-image:url(../images/greybg.png);
}



/*=== Navigation ===*/

.navbar-default {
background-color: #FFF;
border-color:#e0e0e0;
}

.navbar-default .navbar-brand, .navbar-default .navbar-brand:hover {
color: #FFF;
font-weight:bold;
}

.navbar-default .navbar-nav > li > a {
color: #000;
/*text-transform:uppercase;*/
font-weight:bold;
}

.navbar-default .navbar-nav > .active > a, .navbar-default .navbar-nav > .active > a:hover, .navbar-default .navbar-nav > .active > a:focus {
color:#2494ac;
background-color: rgba(255, 255, 255, 0.22);
}

.navbar-default .navbar-nav > li > a:hover, .navbar-default .navbar-nav > li > a:focus {
color: #2494ac;
background-color: transparent;
}

.navbar-default .navbar-nav > .open > a, .navbar-default .navbar-nav > .open > a:hover, .navbar-default .navbar-nav > .open > a:focus {
color: #333;
background-color: rgba(255, 255, 255, 0.21);
}

.navbar-brand {
padding: 2px 15px;
}


/*========== 10. BLOG ==============*/

.pagination>li>a, .pagination>li>span {
	color:#483f34;
}
.pagination>li>a:hover, .pagination>li>span:hover, .pagination>li>a:focus, .pagination>li>span:focus {
	color:#917E68;
}
.pagination>.active>a, .pagination>.active>span, .pagination>.active>a:hover, .pagination>.active>span:hover, .pagination>.active>a:focus, .pagination>.active>span:focus {
	background-color: #5ca2e0;
	border-color: #3172AC;
	color: #FFFFFF;
}
.vertical-links li {
	border-bottom: 1px solid #E6DDD4;
	padding: 8px 0;
}
.tag-cloud a {
	display: inline-block;
	margin-right: 5px;
	margin-bottom: 10px;
	padding: 2px 8px;
	border: 1px solid #eceae4;
	-webkit-border-radius: 3px;
	-moz-border-radius: 3px;
	border-radius: 3px;
	background: #f8f7f3;
	font-size: 12px;
}
.tag-cloud a:hover {
	text-decoration:none;	
}
.comments-block > .media {
	border-bottom: 1px solid #eadeda;
	padding-bottom:20px;
	margin-bottom:20px;
}
.comments-block > .media .media {
	border-top: 1px solid #eadeda;
	padding-top:20px;
}
.comments-block > li{
	list-style-type:none;
}
.media-object {
	width: 40px;
}
.comments-head {
	font-size:35px;
	color:#53504c;
	border-bottom: 1px solid #eadeda;
	margin:40px 0 20px;
	padding-bottom:10px;
}

/******** Custom css *****/
.btn-success{
	background-color:#5cd280;
}
.multiple-links {
	
}
section.row.features.counter-8 {
	display: none;
}
.tg  {border-collapse:collapse;border-spacing:0;margin:0 auto;}
.tg td{font-size:14px;padding:6px 20px;border-style:solid;border-width:1px;overflow:hidden;word-break:normal;}
.tg th{text-align:right;font-size:14px;font-weight:bold;padding:6px 20px;border: 1px solid;background-color:#2494ac;color:#fff;}
.td-hip{text-align:right;font-weight:bold;background-color:#2494ac;color:#fff;}
.sociallinks{
	margin-top:20px;
	margin-bottom:20px;
}
.sociallinks ul li{
	list-style-type:none;
	display:inline-block;
}
.gform_wrapper .ginput_complex span.name_first, .gform_wrapper .ginput_complex span.name_middle {
	margin-right: 0 !important;
}
.gform_wrapper .top_label input.medium {
	padding-right: 30px !important;
}
.gform_wrapper .top_label input.medium, .gform_wrapper .top_label select.medium {
	width: 100% !important;
}
.gform_wrapper .gform_footer {
	padding: 0 !important;
}
.about img{
	margin-bottom:20px;
	width: 200px;
	height: 200px;
}
ul, ol {
	margin: 0;
	padding: 0;
}


.tgg  {margin:0 auto;margin-top: 40px;}
.tgg td{font-size:14px;padding:6px 20px;border:2px solid #ffffff !important;overflow:hidden;word-break:normal;}
.tgg th{border:2px solid #ffffff;text-align:center;font-size:16px;font-weight:normal;background-color:#2494ac;color:#fff;}
.tgg th h3{
	margin:0 !important;
}
.tick{
	background-color: #56bed4;
	text-align: center;
	color:#fff;
}
.tickteal{
	background-color:#2494ac;
	text-align: center;
	color:#fff;
}

.price-head{
	background-color:#2494ac;
	color:#ffffff;
}
.price-head span{
	font-size:20px;
	margin-top:0;
	margin-bottom:10px;
	font-weight: 900;
}
.price-name{
	text-align:right;
	background-color:#2494ac;
	color:#ffffff;
}
th.price-head {
	vertical-align: middle;
}
.media-heading a{
	color:#000000;
}

.navbar-home .navbar-nav > li > a {
	color: #ffffff;
	padding:10px 5px;
}
.navbar-home .navbar-nav a:hover{
	color:#000000 !important;
}
.navbar-home .navbar-nav > .active > a, .navbar-home .navbar-nav > .active > a:hover, .navbar-home .navbar-nav > .active > a:focus{
	background:none;
	color:#fff;
}



.responsive-tabs .responsive-tabs__panel--closed-accordion-only {
	display: block !important;
}




.responsive-tabs .responsive-tabs__list {
	display: none !important;
}

.responsive-tabs .responsive-tabs__heading {
	display: block !important;
	cursor: pointer !important;
}

.responsive-tabs-wrapper {		
	border-top: 1px solid #ccc !important;
}
	
.responsive-tabs .responsive-tabs__heading {
	background: #fff !important;
	border: 1px solid #ccc !important;
	border-top: none !important;
	color: #777 !important;
	font-size: 18px !important;
	font-weight: normal !important;
	text-transform: inherit !important;
	margin: 0 !important;
	padding: 10px 0 !important;
	padding-left: 20px !important;
	position: relative !important;
}

.responsive-tabs .responsive-tabs__heading .fa {
	margin-right: 8px !important;
	display:none !important;
	}

.responsive-tabs .responsive-tabs__heading:after {
	border-left: 6px solid transparent !important;
	border-right: 6px solid transparent !important;
	border-top: 6px solid #777 !important;
	content:"" !important;
	display: block !important;
	position: absolute !important;
	right: 20px !important;
	top: 20px !important;
	height: 0 !important; 
	width: 0 !important; 
}

.responsive-tabs .responsive-tabs__heading:hover {
	background: #eee !important;
	color: #777 !important;
}

.responsive-tabs .responsive-tabs__heading:hover:after {	
	border-top: 6px solid #777 !important;
}

.responsive-tabs .responsive-tabs__heading--active,
.responsive-tabs .responsive-tabs__heading--active:hover {
	background: #2494ac !important;
	color: #fff !important;
}

.responsive-tabs .responsive-tabs__heading--active:after,
.responsive-tabs .responsive-tabs__heading--active:hover:after {
	border-bottom: 6px solid #fff !important;
	border-top: 0 !important;
	top: 18px !important;
}

.responsive-tabs .responsive-tabs__panel {
	background: #fff !important;
	border: 1px solid #ccc !important;
	-webkit-border-radius: 0 !important;
	-moz-border-radius: 0 !important;
	border-radius: 0 !important;
	border-top: none !important;
	margin: 0 !important;
	padding: 0 20px !important;
	padding-top: 20px !important;
}
.responsive-tabs .responsive-tabs__panel ul{
	margin:10px;
}
.more-to-come-4{
	margin-top:0;
}
.more-to-come-8{
	display:none;
}
.hipsmall{
	font-size:11px;
	color:#ffffff;
}
#recent-posts-2 ul li{
	list-style-type:none;
}
.navbar-brand img{
	height:50px;
}

#div_33b3_0{color: #000000;margin-top:20px;}
#p_33b3_0{font-size: 16px; line-height: 22.3999996185303px;}
#p_33b3_1{font-size: 16px; line-height: 22.3999996185303px;}
#p_33b3_2{font-size: 16px; line-height: 22.3999996185303px;}
#p_33b3_3{font-size: 16px; line-height: 22.3999996185303px;}
#p_33b3_4{font-size: 16px; line-height: 22.3999996185303px;}
#p_33b3_5{font-size: 16px; line-height: 22.3999996185303px;}
#p_33b3_6{font-size: 16px; line-height: 22.3999996185303px;}
#p_33b3_7{font-size: 16px; line-height: 22.3999996185303px;}
#p_33b3_8{font-size: 16px; line-height: 22.3999996185303px;}
#p_33b3_9{font-size: 16px; line-height: 22.3999996185303px;}
#p_33b3_10{font-size: 16px; line-height: 22.3999996185303px;}
#p_33b3_11{font-size: 16px; line-height: 22.3999996185303px;}
#p_33b3_12{font-size: 16px; line-height: 22.3999996185303px;}
#p_33b3_13{font-size: 16px; line-height: 22.3999996185303px;}
#p_33b3_14{font-size: 16px; line-height: 22.3999996185303px;}
#p_33b3_15{font-size: 16px; line-height: 22.3999996185303px;}
#p_33b3_16{font-size: 16px; line-height: 22.3999996185303px;}
#p_33b3_17{font-size: 16px; line-height: 22.3999996185303px;}
#p_33b3_18{font-size: 16px; line-height: 22.3999996185303px;}
#p_33b3_19{font-size: 16px; line-height: 22.3999996185303px;}

.ie .masthead {
	background-attachment: scroll;
}
#mc_embed_signup {
	width: 300px;
	margin: 0 auto !important;
}
#mc_embed_signup form {
	text-align: center !important;
}
#mc_embed_signup input.email {
	margin: 0 auto !important;
	margin-bottom:8px !important;
}
#mc_embed_signup input.button {
	margin: 0 auto !important;
}
p, li{
	color:#666 !important;
}
h1, h2, h3, h4, h5, h6, strong, b{
	color:#000000 !important;
}
.movingtextt, .movingtextt p, .movingtextt strong, .footercta, .footercta h1, .footercta p, .footercta strong, .subpage-head h2, .subpage-head h4{
	color:#ffffff !important;
}
article.blog-content p {
	font-size: 16px;
}


@media all and (device-width: 768px) and (device-height: 1024px) and (orientation:portrait) {
	.col-sm-6 {
		height: 250px;
	}
	#div_33b3_0{margin-top:0;}
}